<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<fz_cfp>
			<general>
                <enable_frontend>1</enable_frontend>
                <button_text>Call For Price</button_text>
                <email_sender>general</email_sender>
                <customer_group>0,1,2,3</customer_group>
			</general>
		</fz_cfp>
	</default>
</config>
