<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="FZ\CallForPrice\Api\CallForPriceRepositoryInterface" type="FZ\CallForPrice\Model\CallForPriceRepository"/>
	<preference for="FZ\CallForPrice\Api\Data\CallForPriceInterface" type="FZ\CallForPrice\Model\Data\CallForPrice"/>
	<preference for="FZ\CallForPrice\Api\Data\CallForPriceSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="FZ\CallForPrice\Model\ResourceModel\CallForPrice\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">fz_callforprice_callforprice</argument>
			<argument name="resourceModel" xsi:type="string">FZ\CallForPrice\Model\ResourceModel\CallForPrice\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="fz_callforprice_callforprice_listing_data_source" xsi:type="string">FZ\CallForPrice\Model\ResourceModel\CallForPrice\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>
